
</<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>WikiQuicK</title>
    <link rel="icon" href="{{url_for('static', filename='img/lup.png')}}" sizes="16x16">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div style="padding-left: 20%; padding-top: 10%">
      <div class="col-lg-4">
        <img src="{{url_for('static', filename='img/univ_paris.png')}}">
      </div>
      <div class="col-lg-4">
        <img src="{{url_for('static', filename='img/wiquick.png')}}">
      </div>
      <div class="col-lg-8">
        <form action="/search" method="get">

          <div class="input-group">
            <div class="input-group-btn">
              <button type="button" data-toggle="collapse" data-target="#advSearch" class="btn btn-link btn-sm" title="Advanced search">
                Advanced  <span class="glyphicon glyphicon-chevron-down"></span>
              </button>
            </div>
            <input type="text" class="form-control" name="q" value="{{q}}" placeholder="Quick Search...">
            <div class="input-group-btn">
              <button class="btn btn-primary" type="submit">
                Go <span class="glyphicon glyphicon-search"></span>
              </button>
            </div>
          </div>
          <div style="padding-left: 30%" class="collapse {% if f or opt == 'o' %} show {% endif %}" id="advSearch">
            <br>
            <label title="word1 AND word2...." class="radio-inline">
              <input type="radio" name="opt" value="a" checked>
              Search AND
            </label>
            <label title="word1 OR word2...." class="radio-inline">
              <input type="radio" name="opt" value="o" {% if opt == 'o' %} checked {% endif %} >
              Search OR
            </label>
            <label title="AND NOT these" class="checkbox-inline">
              And Not <input type="text" class="form" value="{{f}}" placeholder="NOT these words..." name="f">
            </label>
          </div>
        </form>
      </div>
    </div>

    <div style="padding-left: 20%">
      <div class="col-lg-12">
        {% if length %}
          <h6>{% if previous %} Page {{index}} sur environ {% endif %} {{length}} Résultats en {{time}} secondes</h6>
          {%else%}
          {% if time and q %}
            <br><br><br>
            <img style="margin-left: 20%; width:450px; height:200px" src="{{url_for('static', filename='img/result-not-found.png')}}">
          {% endif %}
        {% endif %}
        <ul style="list-style:none">
          {% for title in titles %}
            <br>
            <li  style="list-style:none">
              <a href="https://fr.wikipedia.org/wiki/{{title}}">
                <h4>
                  {{title}}
                </h4>
              </a>
              <span>https://www.wikipedia.org/wiki/{{title}}</span>
            </li>
          {% endfor %}
        </ul>
        <div class="pagination">
          {% if previous %}
            <li><a href="/searchpages?q={{q}}&opt={{opt}}&f={{f}}&page={{previous}}"><<</a></li>
          {% endif %}
          {% for page_number in numbers %}
            <li {% if page_number == index %} class="active" {%endif%}>
              <a href="/searchpages?q={{q}}&opt={{opt}}&f={{f}}&page={{page_number}}">{{page_number}}</a>
            </li>
          {% endfor %}
          {% if next %}
            <li><a href="/searchpages?q={{q}}&opt={{opt}}&f={{f}}&page={{next}}">>></a></li>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <br><br>
      <footer class="navbar navbar-default navbar-fixed-bottom">
        <a class="navbar-text" href="https://github.com/NassimOuhenia/MAAIN2020">
          <img src="{{url_for('static', filename='img/github.png')}}">
        </a>
        <a class="navbar-text" href="https://gaufre.informatique.univ-paris-diderot.fr/ouhenia/MAAIN2020">
          <img style="width:16px; height:16px" src="{{url_for('static', filename='img/gitlab-icon.svg')}}">
        </a>
        <p style="float: none; text-align: right;" class="navbar-text">
          © MAAIN 2020
        </p>
      </footer>
    </div>

  </body>
</html>
