
</<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>WikiQuicK</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="" style="margin-left: 20%;margin-top:10%">
      <div class="col-lg-4">
        <img src="{{url_for('static', filename='univ_paris.png')}}">
      </div>
      <div class="col-lg-4">
        <img src="{{url_for('static', filename='wikiquick.png')}}">
      </div>
      <div class="col-lg-8">
        <form action="/search" method="get">
          <div class="input-group">
            <input type="text" class="form-control" name="search" value="{{q}}" required placeholder="Search...">
            <div class="input-group-btn">
              <button class="btn" type="submit">
                Go <span class="glyphicon glyphicon-search"></span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div style="margin-left: 20%">
      <div class="col-lg-12">
        {% if length %}
          <h6>{{length}} Résultats en {{time}} secondes</h6>
        {% endif %}
        <ul>
          {% for title in titles %}
            <br>
            <li>
              <a href="https://fr.wikipedia.org/wiki/{{title}}">
                {{title}}
                <br>
              </a>
              <span>https://www.wikipedia.org/wiki/{{title}}</span>
            </li>
          {% endfor %}
        </ul>
      </div>

    </div>
  </body>
</html>
