
</<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>WikiQuicK</title>
    <link rel="icon" href="{{url_for('static', filename='img/lup.png')}}" sizes="16x16">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="" style="padding-left: 20%; padding-top: 10%">
      <div class="col-lg-4">
        <img src="{{url_for('static', filename='img/univ_paris.png')}}">
      </div>
      <div class="col-lg-4">
        <img src="{{url_for('static', filename='img/wiquick.png')}}">
      </div>
      <div class="col-lg-8">
        <form action="/search" method="get">
          <div class="input-group">
            <input type="text" class="form-control" name="search" value="{{q}}" required placeholder="Quick Search...">
            <div class="input-group-btn">
              <button class="btn btn-danger" type="submit">
                Go <span class="glyphicon glyphicon-search"></span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div style="padding-left: 20%">
      <div class="col-lg-12">
        {% if length %}
          <h6>{{length}} Résultats en {{time}} secondes</h6>
        {% endif %}
        <ul>
          {% for title in titles %}
            <br>
            <li>
              <a href="https://fr.wikipedia.org/wiki/{{title}}">
                <h4>
                  {{title}}
                </h4>
              </a>
              <span>https://www.wikipedia.org/wiki/{{title}}</span>
            </li>
          {% endfor %}
        </ul>
        <div class="pagination">
          {% if previous %}
            <li><a href="/search/pages?page={{previous}}"><</a></li>
          {% endif %}
          {% for page_number in numbers %}
            {% if page_number == index %}
              <li class="active"><a href="/search/pages?page={{page_number}}">{{page_number}}</a></li>
            {%else%}
              <li><a href="/search/pages?page={{page_number}}">{{page_number}}</a></li>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <br><br>
      <footer class="navbar navbar-default navbar-fixed-bottom">
        <a class="navbar-text" href="https://github.com/NassimOuhenia/MAAIN2020">
          <img src="{{url_for('static', filename='img/github.png')}}">
        </a>
        <a class="navbar-text" href="https://gaufre.informatique.univ-paris-diderot.fr/ouhenia/MAAIN2020">
          <img style="width:16px; height:16px" src="{{url_for('static', filename='img/gitlab-icon.svg')}}">
        </a>
        <p style="float: none; text-align: right;" class="navbar-text">
          © MAAIN 2020
        </p>
      </footer>
    </div>

  </body>
</html>
